EXPO_PUBLIC_MOVIE_API_KEY=your_tmdb_read_access_token
EXPO_PUBLIC_DATABASE_ID=your_appwrite_database_id
EXPO_PUBLIC_COLLECTION_ID=your_appwrite_collection_id
EXPO_PUBLIC_SAVED_COLLECTION_ID=your_saved_movies_collection_id
EXPO_PUBLIC_APPWRITE_PROJECT_ID=your_appwrite_project_id
