EXPO_PUBLIC_MOVIE_API_KEY=your_tmdb_read_access_token
EXPO_PUBLIC_DATABASE_ID=your_appwrite_database_id
EXPO_PUBLIC_COLLECTION_ID=your_search_metrics_table_id
EXPO_PUBLIC_SEARCH_METRICS_TABLE_ID=your_search_metrics_table_id
EXPO_PUBLIC_USER_PROFILE_TABLE_ID=your_user_profile_table_id
EXPO_PUBLIC_MOVIE_LISTS_TABLE_ID=your_movie_lists_table_id
EXPO_PUBLIC_LIST_ITEMS_TABLE_ID=your_list_items_table_id
EXPO_PUBLIC_WATCH_HISTORY_TABLE_ID=your_watch_history_table_id
EXPO_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
EXPO_PUBLIC_APPWRITE_PROJECT_ID=your_appwrite_project_id
